ol, ul {
  padding-left: 30px;
}

.board-row {
  margin: 0 15px;
  &:after{
    clear: both;
    content: "";
    display: table;
  }
}

.status {
  margin: 10px 20px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 45px;
  line-height: 90px;
  height: 90px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  opacity: 0.8;
  text-align: center;
  width: 90px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  .game-board{
    margin: 0 auto;
  }
}

.game-info {
  margin-left: 20px;
}
.menu-btn{
  margin: 10px 20px;
}
