section#footer {
  min-height: 1px !important;
  display: inline-block;
  height: auto;
  margin: -5px 0;
  padding-bottom: 0;
  border-top: 1px solid #222;
  .pre-icon {
    color: #fff;
  }
  h4 {
    margin-bottom: 35px;
  }
  .foot .btn-group {
    .icon {
      height: 80px;
      line-height: 80px;
      width: 100%;
      color: #000;
      border: 1px solid #000;
      border-right: none;
      background: #555;
      &:hover {
        background: #fff;
      }
    }
    &:last-child .icon {
      border-right: 1px solid #000;
    }
  }
  .copyright p {
    font-size: .9em;
  }
  .zoom-gallery-footer{
    height: 100%;
    #ReactGridGallery{
      height: 100%;
      .tile{
        background: none !important;
        .tile-viewport {
          height: auto !important;
          img{
            margin: 0 !important;
            width: 100% !important;
            height: auto !important;
          }
        }
      }
    }
  }
}
.btn-group-justified {
  display: flex;
  width: 100%;
  .btn,
  .btn-group {
    flex: 1;
    .btn {
      width: 100%;
    }
    .dropdown-menu {
      left: auto;
    }
  }
}
