#employees{
  #ReactGridGallery{
    .tile{
      width: 33%;
    }
  }
}
#portfolio{
  #ReactGridGallery{
    .tile{
      width: 25%;
    }
  }
}
#employees, #portfolio{
  #ReactGridGallery{
    height: auto;
    .tile{
      background: none !important;
      margin: 0 !important;
      padding: 0 !important;
      height: 100%;
      .tile-viewport{
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        img{
          height: auto !important;
          margin: 0 !important;
          width: 100% !important;
        }
      }
      .custom-overlay{
        color: #666;
        .centered {
          height: 100px;
        }
        h3, p {
          color: #000;
        }
        p {
          font-size: 1em;
        }
        .caption{
          position: absolute;
          pointer-events:none;
          background: rgba(255, 255, 255, 0.9);
          top: 20px;
          left: 20px;
          bottom: 20px;
          right: 20px;

        }
      }
    }
  }
}
